/* carousel on first page */
/* .carousel-container {
  height: 100vh;
} */
/* this caused issues with the nav of carousel */
.carousel-img {
  height: 80vh;
  width: auto;
  /* overflow: hidden; */
  opacity: 0.7;
}
.carousel-text {
  color: darkblue;
}
.carousel-navbars {
  background-color: darkblue;
}
