/* carousel on first page */
/* .carousel-container {
  height: 100vh;
} */
/* this caused issues with the nav of carousel */
.carousel-img {
  height: 80vh;
  width: auto;
  /* overflow: hidden; */
  opacity: 0.7;
  align-self: center;
}
.carousel-text {
  color: darkblue;
}
/* .img-box {
  display: flex;
  justify-content: center;
  align-content: center;
  border: darkgoldenrod 2px solid;
}
will come back to this later, it does not do what I want */
.carousel-navbars-container {
  background-color: rgba(0, 0, 139, 0.541);
  border-radius: 0.2rem;
}
