/* general setup */
/* :root {
  color: darkslateblue;
} */

/* carousel on first page */
/* header {
  margin-bottom: 2rem;
} */
/* attempt to move the circles down, but failed */

.carousel-container {
  /* border: darkred 2px solid; */
  margin-bottom: 4rem;
}
/* this caused issues with the nav of carousel */
.carousel-img {
  /* height: 80vh;
  width: auto; */
  /* overflow: hidden; */
  opacity: 0.7;
  align-self: center;
}
.carousel-text {
  color: darkblue;
}
/* carousel slide text  */
.carousel-text h2 {
  font-size: 5rem;
}
/* .img-box {
  display: flex;
  justify-content: center;
  align-content: center;
  border: darkgoldenrod 2px solid;
}
will come back to this later, it does not do what I want */
.carousel-navbars-container {
  background-color: rgba(0, 0, 139, 0.541);
  border-radius: 0.2rem;
}
/* circle thumbnails */

/* footer */
footer {
  display: flex;
  justify-content: space-between;
}
